{% extends "View/Layout/" ~ __view_layout ~ ".html.twig" %}

{% block content %}

<h1 class="mb-4">{% block title %}Ejemplo de formulario con layout y secciones usando Twig{% endblock %}</h1>
<p>Este formulario se genera sin el uso de una clase de formulario. Los datos son pasados a las funciones de Twig directamente.</p>

{{ form_start({
    attributes: {
        action: 'layout-sections?submit=1',
        onsubmit: 'return __.confirm(this, \'¿Deseas enviar el formulario?\')',
    },
}) }}
    {{ form_fields({
        fields: {
            nombre: {
                widget: 'text',
                name: 'nombre',
                label: 'Nombre',
            },
            usuario: {
                widget: 'text',
                name: 'usuario',
                label: 'Usuario',
            },
            contrasenia: {
                widget: 'password',
                name: 'contrasenia',
                label: 'Contraseña',
            },
            direccion: {
                widget: 'text',
                name: 'direccion',
                label: 'Dirección',
            },
            comuna: {
                widget: 'text',
                name: 'comuna',
                label: 'Comuna',
            },
        },
    }, {
        layout: [
            {
                title: 'Datos Básicos',
                icon: 'fa-solid fa-vcard',
                rows: [
                    ['nombre', 'usuario', 'contrasenia'],
                ]
            },
            {
                title: 'Ubicación',
                icon: 'fa-solid fa-map',
                rows: [
                    ['direccion', 'comuna'],
                ]
            },
        ]
    }) }}
    {{ form_csrf({
        csrf_token: 'abc123'
    }) }}
    {{ form_submit('Enviar formulario') }}
{{ form_end({}) }}

{% endblock %}
