{% extends "View/Layout/" ~ __view_layout ~ ".html.twig" %}

{% block content %}

<h1 class="mb-4">{% block title %}Ejemplo de formulario con layout y pestañas usando Twig{% endblock %}</h1>
<p>Este formulario se genera sin el uso de una clase de formulario. Los datos son pasados a las funciones de Twig directamente.</p>

{{ form_start({
    attributes: {
        action: 'layout-tabs?submit=1',
        onsubmit: 'return __.confirm(this, \'¿Deseas enviar el formulario?\')',
    },
}) }}
    {{ form_fields({
        fields: {
            nombre: {
                widget: 'text',
                name: 'nombre',
                label: 'Nombre',
                prepend: '<span class="input-group-text"><i class="fa-solid fa-vcard"></i></span>',
            },
            usuario: {
                widget: 'text',
                name: 'usuario',
                label: 'Usuario',
                prepend: '<span class="input-group-text"><i class="fa-solid fa-user"></i></span>',
            },
            contrasenia: {
                widget: 'password',
                name: 'contrasenia',
                label: 'Contraseña',
                prepend: '<span class="input-group-text"><i class="fa-solid fa-key"></i></span>',
            },
            direccion: {
                widget: 'text',
                name: 'direccion',
                label: 'Dirección',
                prepend: '<span class="input-group-text"><i class="fa-solid fa-map-pin"></i></span>',
            },
            comuna: {
                widget: 'text',
                name: 'comuna',
                label: 'Comuna',
                prepend: '<span class="input-group-text"><i class="fa-solid fa-map"></i></span>',
            },
            fecha_nacimiento: {
                widget: 'date',
                name: 'fecha_nacimiento',
                label: 'Fecha de nacimiento',
                prepend: '<span class="input-group-text"><i class="fa-solid fa-calendar-alt"></i></span>',
            },
            telefono: {
                widget: 'telephone',
                name: 'telefono',
                label: 'Teléfono',
                prepend: '<span class="input-group-text"><i class="fa-solid fa-phone"></i></span>',
            },
        },
    }, {
        layout: {
            tabs: [
                {
                    id: 'perfil',
                    title: 'Perfil',
                    icon: 'fa-solid fa-user',
                    sections: [
                        {
                            title: 'Datos Básicos',
                            icon: 'fa-solid fa-vcard',
                            rows: [
                                ['nombre', 'usuario', 'contrasenia'],
                            ]
                        },
                        {
                            title: 'Datos Personales',
                            icon: 'fa-solid fa-user',
                            rows: [
                                ['fecha_nacimiento', 'telefono'],
                            ]
                        },
                    ]
                },
                {
                    id: 'ubicacion',
                    title: 'Ubicación',
                    icon: 'fa-solid fa-map',
                    sections: [
                        {
                            title: 'Ubicación',
                            icon: 'fa-solid fa-map',
                            rows: [
                                ['direccion', 'comuna'],
                            ]
                        },
                    ]
                },
            ]
        }
    }) }}
    {{ form_csrf({
        csrf_token: 'abc123'
    }) }}
    {{ form_submit('Enviar formulario') }}
{{ form_end({}) }}

{% endblock %}
