{% extends "View/Layout/" ~ __view_layout ~ ".html.twig" %}

{% block content %}

<h1 class="mb-4">{% block title %}Ejemplo de formulario con diferentes widgets usando Twig{% endblock %}</h1>
<p>Este formulario se genera sin el uso de una clase de formulario. Los datos son pasados a las funciones de Twig directamente.</p>

{{ form_start({
    attributes: {
        action: 'formulario_twig?submit=1',
        onsubmit: 'return __.confirm(this, \'¿Deseas enviar el formulario?\')',
    },
}) }}
    {{ form_row({
        widget: {
            name: 'div',
        },
        name: 'widget_div',
        label: 'div',
    }) }}
    {{ form_row({
        widget: {
            name: 'default',
            class: 'form-control',
        },
        name: 'widget_default',
        label: 'Default',
    }) }}
    {{ form_row({
        widget: {
            name: 'default',
            value: 'Hola Mundo',
            attributes: {
                placeholder: 'Placeholder por defecto',
                class: 'form-control',
            }
        },
        name: 'widget_default_attributes',
        label: 'Default Attributes',
        help_text: 'El valor puede ir en el widget o en el atributo (este último tiene preferencia).'
    }) }}
    {{ form_row({
        input_type: 'password',
        name: 'input_type_password',
        label: 'Input Type Password'
    }) }}
    {{ form_row({
        widget: {
            name: 'password',
            attributes: {
                id: 'password_1',
                placeholder: 'Contraseña',
                class: 'form-control',
            }
        },
        name: 'widget_password_1',
        label: 'Widget Password 1',
        help_text: 'Contraseña 1'
    }) }}
    {{ form_row({
        widget: {
            name: 'password',
            attributes: {
                id: 'password_2',
                placeholder: 'Contraseña 2',
                class: 'check notempty form-control',
            },
        },
        name: 'widget_password_2',
        label: 'Widget Password 2'
    }) }}
    {{ form_row({
        widget: 'date',
        name: 'widget_date',
        label: 'Date'
    }) }}
    {{ form_row({
        widget: {
            name: 'datetime-local',
        },
        name: 'widget_datetime',
        label: 'Datetime'
    }) }}
    {{ form_row({
        widget: {
            name: 'textarea',
            attributes: {
                rows: 3,
                class: 'form-control'
            },
        },
        name: 'widget_textarea',
        label: 'Textarea'
    }) }}
    {{ form_row({
        widget: {
            name: 'hidden',
        },
        name: 'widget_hidden',
        label: 'Hidden'
    }) }}
    {{ form_row({
        widget: {
            name: 'button',
            value: '<i class="fa fa-check"></i> Submit',
            attributes: {
                id: 'btn-test',
            },
        },
        name: 'widget_button',
        label: 'Button',
        help_text: 'Botón tipo button por defecto.',
    }) }}
    {{ form_row({
        widget: {
            name: 'bool',
            value: ['No', 'Si'],
            attributes: {
                id: 'bool_test',
                class: 'form-control',
            },
        },
        name: 'widget_bool',
        label: 'Bool',
        help_text: 'Por defecto es 0: No, 1: Yes'
    }) }}
    {{ form_row({
        widget: {
            name: 'select',
            value: [
                {
                    value: 'option1',
                    label: 'Opción 1',
                },
                {
                    value: 'option2',
                    label: 'Opción 2',
                    selected: True,
                },
                {
                    value: 'option3',
                    label: 'Opción 3',
                },
            ],
            attributes: {
                id: 'form_test',
                class: 'form-control',
                multiple: false,
                required: true,
            },
        },
        name: 'widget_select',
        label: 'Select'
    }) }}
    {{ form_row({
        widget: {
            name: 'select',
            value: [
                {
                    value: 'option1',
                    label: 'Opción 1',
                },
                {
                    value: 'option2',
                    label: 'Opción 2',
                    selected: True,
                },
                {
                    value: 'option3',
                    label: 'Opción 3',
                },
            ],
            attributes: {
                id: 'select_multiple',
                class: 'form-control',
                multiple: true,
                required: true,
            },
        },
        name: 'widget_select',
        label: 'Select Multiple'
    }) }}
    {{ form_row({
        widget: {
            name: 'checkbox',
            value: 'Check',
            attributes: {
                name: 'Checkbox1',
                id: 'checkbox',
            },
        },
        name: 'widget_checkbox',
        label: 'Checkbox',
        help_text: 'Checkbox estándar.',
    }) }}
    {{ form_row({
        widget: {
            name: 'checkbox',
            value: 'Checked',
            attributes: {
                name: 'Checkbox 2',
                id:'checkbox_checked',
                checked: true,
            },
        },
        name: 'widget_checkbox_checked',
        label: 'Checkbox checked',
        help_text: 'Checkbox seleccionado por defecto.',
    }) }}
    {{ form_row({
        widget: {
            name: 'checkboxes',
            value: [
                {
                    id: 'cbox1',
                    value: 'first_checkbox',
                    label: 'Primer Checkbox',
                },
                {
                    id: 'cbox2',
                    value: 'second_checkbox',
                    label: 'Segundo Checkbox',
                },
                {
                    id: 'cbox3',
                    value: 'third_checkbox',
                    label: 'Tercer Checkbox',
                    checked: true,
                },
            ],
        },
        name: 'widget_checkbox',
        label: 'Checkboxes',
        help_text: 'Checkboxes múltiples.',
    }) }}
    {{ form_row({
        widget: {
            name: 'radio',
            value: [
                {
                    value: 'first_radio',
                    label: 'Primer radio',
                },
                {
                    value: 'second_radio',
                    label: 'Segundo radio',
                },
            ],
            attributes: {
                nombre: 'contacto',
                class: 'form-control',
            }
        },
        name: 'widget_radio',
        label: 'Radio',
        help_text: 'Radio estándar.',
    }) }}
    {{ form_row({
        widget: {
            name: 'file',
            attributes: {
                name: 'file_upload',
                id: 'file_upload',
                class: 'form-control',
                multiple: true,
                accept:'pdf',
                required: true,
            }
        },
        name: 'widget_file',
        label: 'File'
    }) }}
    {{ form_row({
        widget: {
            name: 'table',
            attributes: {
                name: 'table_example',
                id: 'table_1',
                titles: [
                    'Column 1',
                    'Archivos',
                    'Observaciones'
                ],
                inputs: [
                    {
                        name: 'password',
                        value: 'default_password',
                    },
                    {
                        name: 'file',
                    },
                    {
                        name: 'text',
                    },
                ],
                values: [
                    ['Value 1-1', 'Value 1-2', 'Value 1-3'],
                    ['Value 2-1', 'Value 2-2', 'Value 2-3'],
                    ['Value 3-1', 'Value 3-2', 'Value 3-3']
                ],
            },
        },
        name: 'widget_table',
        label: 'Table Default'
    }) }}
    {{ form_row({
        widget: {
            name: 'table_js',
            attributes: {
                name: 'table_example',
                id: 'table_2',
                titles: [
                    'Column 1',
                    'Archivos',
                    'Observaciones'
                ],
                inputs: [
                    {
                        name: 'password',
                        value: 'default_password',
                        attributes: {
                            class: 'form-control',
                        }
                    },
                    {
                        name: 'file',
                    },
                    {
                        name: 'text',
                    },
                ],
            },
        },
        name: 'widget_table_js',
        label: 'Table JS'
    }) }}
    {{ form_row({
        widget: {
            name: 'files',
            attributes: {
                id: 'files',
                label: 'Archivos',
                class: 'form-control',
                multiple: true,
            }
        },
        name: 'widget_table_js',
        label: 'Table Files'
    }) }}
    {{ form_row({
        widget: {
            name: 'table_check',
            attributes: {
                name: 'table_check',
                id: 'table_3',
                titles: ['ID', 'Name', 'Description'],
                table: [
                    {
                        id: 1,
                        name: 'Item 1',
                        description: 'Description 1'
                    },
                    {
                        id: 2,
                        name: 'Item 2',
                        description: 'Description 2'
                    },
                    {
                        id: 3,
                        name: 'Item 3',
                        description: 'Description 3'
                    },
                    {
                        id: 4,
                        name: 'Item 4',
                        description : 'Description Test',
                    }
                ]
            },
        },
        name: 'widget_table_check',
        label: 'Table Check'
    }) }}
    {{ form_row({
        widget: {
            name: 'table_radio',
            attributes: {
                name: 'table_radio',
                id: 'table_4',
                titles: ['Name', 'Description', 'Option 1', 'Option 2', 'Option 3'],
                options: {
                    'option_1': 'Option 1',
                    'option_2': 'Option 2',
                    'option_3': 'Option 3'
                },
                table: [
                    {
                        name: 'Item 1',
                        description: 'Description 1'
                    },
                    {
                        name: 'Item 2',
                        description: 'Description 2'
                    },
                    {
                        name: 'Item 3',
                        description: 'Description 3'
                    },
                    {
                        name: 'Item 4',
                        description : 'Description Test'
                    }
                ],
                width: '100%'
            }
        },
        name: 'widget_table_radio',
        label: 'Table Radio'
    }) }}
    {{ form_csrf({
        csrf_token: 'abc123'
    }) }}
    {{ form_submit('Enviar formulario', {
        class: 'btn btn-primary w-100',
    }) }}
{{ form_end({}) }}

{% endblock %}
