{% extends "View/Layout/" ~ __view_layout ~ ".html.twig" %}

{% block content %}

<h1 class="mb-4">{% block title %}Ejemplo de formulario con diferentes widgets usando Twig{% endblock %}</h1>
<p>Este formulario se genera sin el uso de una clase de formulario. Los datos son pasados a las funciones de Twig directamente.</p>

{{ form_start({
    attributes: {
        action: 'formulario_twig?submit=1',
        onsubmit: 'return __.confirm(this, \'¿Deseas enviar el formulario?\')',
    },
}) }}
    {{ form_row({
        widget: 'div',
        name: 'widget_div',
        label: 'Div',
        value: 'Contenido dentro de un tag div.',
    }) }}
    {{ form_row({
        name: 'widget_default',
        label: 'Default',
    }) }}
    {{ form_row({
        widget: {
            value: 'Hola Mundo Widget',
            attributes: {
                placeholder: 'Placeholder por defecto',
                value: 'Hola Mundo Atributo',
            }
        },
        value: 'Hola Mundo Field',
        name: 'widget_default_attributes',
        label: 'Default Attributes',
        help_text: 'El valor puede ir en el campo, widget o en el atributo (de menos a más prioridad)).',
    }) }}
    {{ form_row({
        input_type: 'password',
        name: 'input_type_password',
        label: 'Input Type Password',
    }) }}
    {{ form_row({
        widget: {
            name: 'password',
            attributes: {
                placeholder: 'Ingresa tu nueva contraseña',
            }
        },
        name: 'widget_password_1',
        label: 'Widget Password 1',
        help_text: 'Contraseña 1.',
    }) }}
    {{ form_row({
        widget: {
            name: 'password',
            attributes: {
                placeholder: 'Repetir contraseña',
                class: 'check notempty form-control',
            },
        },
        name: 'widget_password_2',
        label: 'Widget Password 2',
        help_text: 'Contraseña 2.',
    }) }}
    {{ form_row({
        widget: 'date',
        name: 'widget_date',
        label: 'Date',
    }) }}
    {{ form_row({
        widget: 'datetime',
        name: 'widget_datetime',
        label: 'Datetime',
    }) }}
    {{ form_row({
        widget: {
            name: 'textarea',
            attributes: {
                rows: 3,
            },
        },
        name: 'widget_textarea',
        label: 'Textarea',
    }) }}
    {{ form_row({
        widget: 'hidden',
        name: 'widget_hidden',
        label: 'Hidden',
    }) }}
    {{ form_row({
        widget: 'button',
        name: 'widget_button',
        label: 'Button',
        value: '<i class="fa fa-check"></i> Submit',
        help_text: 'Botón tipo button por defecto.',
    }) }}
    {{ form_row({
        widget: 'bool',
        name: 'widget_bool',
        label: 'Bool',
        help_text: 'Por defecto es 0: No, 1: Si',
    }) }}
    {{ form_row({
        widget: 'select',
        name: 'widget_select_1',
        label: 'Select 1',
        choices: {
            option1: 'Opción 1',
            option2: 'Opción 2',
            option3: 'Opción 3',
        },
        value: 'option2',
        help_text: 'Select con opciones en arreglo asociativo value => label.',
    }) }}
    {{ form_row({
        widget: 'select',
        name: 'widget_select_2',
        label: 'Select 2',
        choices: [
            {
                value: 'option1',
                label: 'Opción 1',
            },
            {
                value: 'option2',
                label: 'Opción 2',
            },
            {
                value: 'option3',
                label: 'Opción 3',
            },
        ],
        value: 'option2',
        help_text: 'Select con opciones con índices nombrados. Cualquier nombre es válido, el primero será el "value" y eñ segundo será el "label". De todas maneras se aconseja usar estos índices.',
    }) }}
    {{ form_row({
        widget: 'select',
        name: 'widget_select_3',
        label: 'Select 3',
        choices: [
            ['option1', 'Opción 1'],
            ['option2', 'Opción 2'],
            ['option3', 'Opción 3'],
        ],
        value: 'option2',
        help_text: 'Select con opciones en arreglo de arreglos con índices 0 para value y 1 para label.',
    }) }}
    {{ form_row({
        widget: {
            name: 'select',
            attributes: {
                multiple: true,
            },
        },
        name: 'widget_select',
        label: 'Select Multiple',
        choices: {
            option1: 'Opción 1',
            option2: 'Opción 2',
            option3: 'Opción 3',
        },
    }) }}
    {{ form_row({
        widget: 'checkbox',
        name: 'widget_checkbox',
        label: 'Checkbox',
        help_text: 'Checkbox estándar.',
    }) }}
    {{ form_row({
        widget: {
            name: 'checkbox',
            attributes: {
                checked: true,
            },
        },
        name: 'widget_checkbox_checked',
        label: 'Checkbox checked',
        help_text: 'Checkbox seleccionado por defecto.',
    }) }}
    {{ form_row({
        widget: 'checkboxes',
        name: 'widget_checkbox',
        label: 'Checkboxes',
        choices: {
            first_checkbox: 'Primer Checkbox',
            second_checkbox: 'Segundo Checkbox',
            third_checkbox: 'Tercer Checkbox',
        },
        value: ['first_checkbox', 'third_checkbox'],
        help_text: 'Checkboxes múltiples ("choices" mismas reglas de "select").',
    }) }}
    {{ form_row({
        widget: 'radios',
        name: 'widget_radios',
        label: 'Radios',
        choices: {
            first_radio: 'Primer radio',
            second_radio: 'Segundo radio',
        },
        value: 'second_radio',
        help_text: 'Lista de radios estándar.',
    }) }}
    {{ form_row({
        widget: 'file',
        name: 'widget_file',
        label: 'File',
        help_text: 'Campo de archivo estándar.',
    }) }}
    {{ form_row({
        widget: {
            name: 'file',
            attributes: {
                multiple: true,
                accept: '.pdf',
            }
        },
        name: 'widget_files_1',
        label: 'Files 1',
        help_text: 'Campo de archivo múltiple solo para PDF.',
    }) }}
    {{ form_row({
        widget: 'files',
        name: 'widget_files_2',
        label: 'Files 2',
        help_text: 'Campo de archivo múltiple en una tabla.',
    }) }}
    {{ form_row({
        widget: 'table',
        name: 'widget_table_static_1',
        label: 'Table Static 1',
        titles: [
            'Texto',
            'Contraseña',
            'Archivo',
        ],
        fields: [
            {
                widget: 'text',
                name: 'widget_table_static_1_text',
            },
            {
                widget: 'password',
                name: 'widget_table_static_1_password',
            },
            {
                widget: 'file',
                name: 'widget_table_static_1_file',
            },
        ],
        help_text: 'Tabla estática (sin filas dinámicas con javascript), sin valores por defecto.',
    }) }}
    {{ form_row({
        widget: 'table',
        name: 'widget_table_static_2',
        label: 'Table Static 2',
        titles: [
            'Texto',
            'Contraseña',
            'Archivo',
        ],
        fields: [
            {
                widget: 'text',
                name: 'widget_table_static_2_text',
            },
            {
                widget: 'password',
                name: 'widget_table_static_2_password',
            },
            {
                widget: 'file',
                name: 'widget_table_static_2_file',
            },
        ],
        values: [
            ['Hola Mundo', 'Pass123', null],
            ['Chao Mundo', 'PassABC', null],
        ],
        help_text: 'Tabla estática (sin filas dinámicas), con valores por defecto.',
    }) }}
    {{ form_row({
        widget: 'table_dynamic',
        name: 'widget_table_dynamic_1',
        label: 'Table Dynamic 1',
        titles: [
            'Texto',
            'Contraseña',
            'Archivo',
        ],
        fields: [
            {
                widget: 'text',
                name: 'widget_table_dynamic_1_text',
            },
            {
                widget: 'password',
                name: 'widget_table_dynamic_1_password',
            },
            {
                widget: 'file',
                name: 'widget_table_dynamic_1_file',
            },
        ],
        help_text: 'Tabla dinámica, sin valores por defecto.',
    }) }}
    {{ form_row({
        widget: 'table_dynamic',
        name: 'widget_table_dynamic_2',
        label: 'Table Dynamic 2',
        titles: [
            'Texto',
            'Contraseña',
            'Archivo',
        ],
        fields: [
            {
                widget: 'text',
                name: 'widget_table_dynamic_2_text',
            },
            {
                widget: 'password',
                name: 'widget_table_dynamic_2_password',
            },
            {
                widget: 'file',
                name: 'widget_table_dynamic_2_file',
            },
        ],
        values: [
            ['Hola Mundo', 'Pass123', null],
            ['Chao Mundo', 'PassABC', null],
            ['Fin del Mundo', 'Pass666', null],
        ],
        help_text: 'Tabla dinámica, con valores por defecto.',
    }) }}
    {{ form_row({
        widget: 'table_checkboxes',
        name: 'widget_table_checkboxes',
        label: 'Table Checkboxes',
        titles: [
            'ID',
            'Name',
            'Description',
        ],
        rows: [
            {
                id: 1,
                name: 'Item 1',
                description: 'Description 1',
            },
            {
                id: 2,
                name: 'Item 2',
                description: 'Description 2',
            },
            {
                id: 3,
                name: 'Item 3',
                description: 'Description 3',
            },
            {
                id: 4,
                name: 'Item 4',
                description : 'Description 4',
            },
        ],
        value: [
            2,
            4,
        ],
        help_text: 'Table checkboxes mostrando la columna con el ID en la tabla.',
    }) }}
    {{ form_row({
        widget: 'table_radios',
        name: 'widget_table_radios',
        label: 'Table Radios',
        titles: [
            'ID',
            'Name',
            'Description',
            'Option 1',
            'Option 2',
            'Option 3',
        ],
        rows: [
            {
                id: 1,
                name: 'Item 1',
                description: 'Description 1',
            },
            {
                id: 2,
                name: 'Item 2',
                description: 'Description 2',
            },
            {
                id: 3,
                name: 'Item 3',
                description: 'Description 3',
            },
            {
                id: 4,
                name: 'Item 4',
                description : 'Description 4',
            },
        ],
        choices: [
            'option_1',
            'option_2',
            'option_3',
        ],
        value: {
            '1': 'option_2',
            '2': 'option_1',
            '4': 'option_3',
        },
    }) }}
    {{ form_csrf({
        csrf_token: 'abc123',
    }) }}
    {{ form_submit('Enviar formulario', {
        class: 'btn btn-primary w-100',
    }) }}
{{ form_end({}) }}

{% endblock %}
